.container{
    background-color: rgb(211, 220, 226);
    max-width:100%;
    
    
}
.pictures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: 1.5vw; */
}
.img-rounded{
    width:16vw;
    height: 45vh;
}
.row{
    margin-left: 2vw;
}
a:hover{
    border-style:inset;
    border-color: rgb(173, 126, 68);
    border-width: .4vw;
    width: 18.5vw;
}