<div class="container">
    <h2><b>Products</b></h2>
    <hr>
    <h4>All Catogories</h4>
    <div class="container-fluid" id="catogories">
        <a><h4>Jeans</h4></a>
        <a><h4>Jackets & Coats</h4></a>
        <a><h4>Loungowear</h4></a>
        <a><h4>Polo shitrs</h4></a>
        <a><h4>Drop down </h4></a>
        <a><h4>Shirts</h4></a>
        <a><h4>Shorts</h4></a>
        <a><h4>Suits</h4></a>
        <a><h4>Swimmwears</h4></a>
        <a><h4>Tracksuits</h4></a>
        <a><h4>Trousers</h4></a>
        <a><h4>T-Shits</h4></a>
    </div>
    <hr>

    <div class="form-group" >
        <h4>Color-</h4>
        
        <div class="colors pull-bottom" style="margin-top: 4vh;" id="colors">
            <button class="button button5" style="background-color: brown"></button>
            <button class="button button5" style="background-color: rgb(8, 7, 7)"></button>
            <button class="button button5" style="background-color: rgb(191, 41, 199)"></button>
            <button class="button button5" style="background-color: rgb(19, 240, 78)"></button>
            <button class="button button5" style="background-color: rgb(88, 62, 237)"></button>
            
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="pull-top">
            <h4>Price</h4>
        </div>
        <!-- <form class="multi-range-field" style="margin-top: 4vh;">
            <input id="multi6" class="multi-range" type="range" />
            <div class="pull-left">
                <button  style="margin-top: 4vh;" class="btn btn-secondary">Filter</button>
            </div>
          </form> -->
          <div class="slidecontainer" style="width:13vw;margin-top:4vh">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
          </div>
          <div class="display_value"style='margin-top:2vh'>
            <h5>From:{{slidermin}}</h5>
            <h5 style="margin-left:8vw;">
                To:{{slidercurrent}}
            </h5>
          </div>
          <hr>
    </div>
</div>