<hr>
<nav class="navbar navbar-default">
  <div class="col-xs-5 " id="search">
    <input type="text" placeholder="Search">
       <span class="glyphicon glyphicon-search" ></span>
  </div>
  <div class="col-xs-2">
    <p>FASTOR</p>
  </div>
  <div class="col-xs-4 " id="icons" >
   <div class="col-xs-9">
    <div class="dropdown" >
        <div class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          USD
        </div><span class="caret"></span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
   </div>
   <div class="col-xs-1"><span class="glyphicon glyphicon-user"></span></div>
   <div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span></div>
   <div class="col-xs-1"><span class="glyphicon glyphicon-shopping-cart"></span></div>
  </div>

</nav>

