<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
    
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Shop
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                    <!-- <ejs-dropdownlist 
                    [dataSource]="shopData" [fields]="shopFields" placholder="Shop"
                    >
                    </ejs-dropdownlist> -->
                 
                    <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Catogories
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                  
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Men
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                  
                    <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Women
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                 <a href="#"><label>Pages</label></a>
                 <a href="#"><label>Flag</label></a>
                 <a href="#"> <label>Contact</label></a>

            </div>
        </div>
    </div>
    
</div>
<hr>
    <app-viewport></app-viewport>
</div>
